.wrapper {
    position: fixed;
    left: 0;
    color: #fff;
}

.toggleButton {
    z-index: 2;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 20vw;
    max-width: 220px;
    min-width: 220px;
    height: 100vh;
    padding: 3rem 1rem;
    box-sizing: border-box;
    background-color: #222;
    transition: transform ease 0.4s;
    transform: translateX(-100%);

    &.open {
        transform: translateX(0);
    }
}

.menuItem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;

    &:not(:last-of-type) {
        border-bottom: solid 1px #444;
    }

    &:hover {
        cursor: pointer;
    }
}

.colorItemWrapper {
    position: relative;
}

.colorItemColor {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

.colorPicker {
    position: absolute;
    z-index: 2;
    top: 0.75rem;
    left: 0;
    transform: translateX(100%);
}
