.itemWrapper {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 4px;
    transform-origin: center;

    &.focus {
        border: dashed 2px #ccc;
        padding: 2px;
    }

    &:hover {
        padding: 2px;
        cursor: pointer;
        border: dashed 2px #ccc;
    }
}
