.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    h1,
    h2,
    h3,
    p,
    li {
        outline: none;
    }
}

.itemSettings {
    background-color: #ddd;
    position: absolute;
    top: -0.5rem;
    transform: translateY(-100%);
    padding: 0.5rem;
}
